.App {
  font-family: "Opens Sans", sans-serif;

  width: 100vg;
  height: 100vh;

  // background-color: slategray;

  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }
}
