.App {
  font-family: "Opens Sans", sans-serif;

  // display: grid;
  // grid-gap: 10px;
  // grid-template-columns: repeat(12, 1fr);
  // grid-template-rows: repeat(12, 1fr);

  width: 100vg;
  height: 100vh;

  background-color: #fff;
  color: #444;

  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }
}
